<h1>Topics</h1>

<hr/>

<% @topics.each do |topic| %>
  <h3><%= topic.title %></h3>
  <p><%= topic.body %></p>
  <div>
    <%= link_to 'Show', topic %> |
    <%= link_to 'Edit', edit_topic_path(topic) %> |
    <%= link_to 'Destroy', topic, method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </div>
  <hr/>
<% end %>
<br>

<%= link_to 'New Topic', new_topic_path %>
